<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Registration page </title>
</head>
<body>
<div layout:fragment="content">
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form method="post" th:action="@{/register}" th:object="${newUser}">
        <div><label> User Name : <input name="username" th:field="*{username}" type="text"/> </label></div>
        <div><label> Password: <input name="password" th:field="*{password}" type="password"/> </label></div>
        <div><label> Repeat the password: <input name="password_repeated" th:field="*{passwordRepeated}"
                                                 type="password"/> </label></div>
        <div><input type="submit" value="Sign In"/></div>
    </form>
</div>
</body>
</html>